examples/test_pyocse*/Minimize_*
examples/test_htocsp/*/
examples/test_htocsp/pyxtal_calculator.py
examples/compressive_test
test.db
loginfo
pyxtal.prm
pyxtal.rtf
dump.*
log.lammps
Cu_u3.eam
cu*.dat
lmp
*.log
parameters.xml
*.cif
dball.txt
log*
dump_*
